<h1 class="page-title">Mini Messageboard</h1>

<div class="message-list">
  <% if (messages && messages.length> 0) { %>
    <% messages.forEach((message, index)=> { %> <%# Added 'index' as the second argument %>
        <div class="message-card">
          <p class="message-text">
            <%= message.text %>
          </p>
          <div class="message-info">
            <span class="message-user">By: <%= message.user %></span>
            <span class="message-date">
              <%= message.added.toLocaleString() %>
            </span>
          </div>
          <!-- Link to message detail page using the array index -->
          <div class="message-actions">
            <a href="/messages/<%= index %>">View Details</a>
            <%# Used 'index' here %>
          </div>
        </div>
        <% }); %>
          <% } else { %>
            <p class="no-messages">No messages yet. Be the first to post!</p>
            <% } %>
</div>

<div class="add-message-container">
  <a href="/new">
    Add New Message
  </a>
</div>