<h1 class="page-title">Message Details</h1>

<div class="message-detail-card">
  <p class="message-text"><strong>Message:</strong>
    <%= message.text %>
  </p>
  <p class="message-user"><strong>By:</strong>
    <%= message.user %>
  </p>
  <p class="message-date"><strong>Added On:</strong>
    <%= message.added.toLocaleString() %>
  </p>
</div>

<div class="back-link-container">
  <a href="/" class="back-link">Back to Messages</a>
</div>